@import url("https://fonts.googleapis.com/css?family=Merriweather:700");

:root {
  --color-one: #e5799b;
  --color-two: #85b5e5;
  /*--color-three: #7f8084;*/
  --color-three: #666666;
  --color-four: white;
}

body {
  font-family: "Merriweather", "Arial", serif;
}

.game-band {
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
}

.header-band {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  margin-top: 1.5vw;
}

.header-band > h1 {
  font-size: 3vw;
  margin: 0;
  color: var(--color-one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-band > .sub-text {
  font-size: 1.4vw;
  margin: 0;
  color: var(--color-two);

  display: flex;
  justify-content: center;
  align-items: center;
}

.status-band {
  text-align: center;
  min-height: 4.5vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions > p {
  font-size: 1.1vw;
  color: var(--color-three);
  margin: 0;
}

.previous-result > p {
  font-size: 1.6vw;
  margin: 0;
}

.correct {
  color: var(--color-two);
}

.incorrect {
  color: var(--color-one);
}

.problem {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
}

.named-column {
  padding: 5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  margin: 0 10%;
  background-color: var(--color-three);
  text-align: center;
}

.name h2 {
  font-size: 1.7vw;
  margin: 0;
  color: var(--color-four);
}

.diagram-set {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.answer-set {
  display: grid;
  grid-template-columns: 100%;
}

.diagram {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-columns: repeat(3, 33.333%);

  margin: 0.6vw auto;
  /*border: .5vw solid var(--color-two);*/
  /*background: rgba(255,138,140,1);*/
}

.dummy-diagram {
  width: 6vw;
  height: 6vw;
  margin: 0.6vw auto;
}

.cell {
  border: 0.112vw solid var(--color-three);
  width: 2vw;
  height: 2vw;
}

.variety-1 {
  background-color: var(--color-four);
}

.variety-2 {
  background-color: var(--color-one);
}

.variety-3 {
  background-color: var(--color-two);
}

.footer-band {
  text-align: center;
  padding-top: 1vw;
}

.footer-band > p {
  font-size: 1vw;
  margin-bottom: 0;
  color: var(--color-three);
}

.button {
  color: var(--color-four);
  border: none;
  border-radius: 1em;
  padding: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 0.5%;
  margin-right: 1.5%;
}

.hoverable:hover {
  opacity: 0.6;
  cursor: pointer;
}

.twitter-button {
  background-color: var(--color-two);
}

.survey-button {
  background-color: var(--color-one);
}

.twitter-button {
  background-color: var(--color-two);
}
